*{
    margin: 0%;
}
body,html{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
}
#container{
    width: 100%;
    height: 60%;
    background-color:black;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.box{
    width: 100%;
    height: 100%;
}
#b1{
    background-color: hsla(0, 0%, 100%, 0.675);
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
#b2{
    background-color:hsla(180, 100%, 50%, 0.663);
    align-content: center;
}
#inb1{
    width: 600px;
    height: 100%;
    background-color: white;
    background-image: url("/sources/images/india6.jpg");
    background-position: center; 
    background-size: cover; 
    background-repeat: no-repeat;
}
#inb2{
    width: 200px;
    height: 100%;
    background-color:white;
}
#order{
    font-size: 1.8em;
}
#bottom{
    width: 100%;
    height: 40%;
    background-color: black;
}
#inb2 a{
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 30px;
    text-decoration: none;
}